.bug-body {
  overflow: visible;
}

.bug-nav {
  padding: 1rem;
  margin-left: 1rem;
}

.bug-page-header {
  color: white;
}

.bug-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.bug-add-btn {
  width: 6rem;
  height: 2rem;
  /* margin-left: 2rem; */
  /* text-align: center; */
}

.bug-row-table {
  display: flex;
  margin: 3rem auto;
  max-width: 90%;
}

.bug-contributors {
  background-color: rgba(219, 213, 213, 0.4);
  color: white;
  padding: 1rem;
  margin-right: 1rem;
  height: 10rem;
}

.bug-table {
  text-align: center;
  background-color: rgba(219, 213, 213, 0.4);
}

@media screen and (min-width: 1024px) {
  .bug-add-btn {
    margin-right: 3rem;
  }
}
