@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Play:wght@400;700&display=swap');

* {
  font-family: 'Play', sans-serif;
}

html {
  background-image: url('../images/blue.png');
  background-position: center;
  color: #f4f4f4;
}

.navbar {
  padding: 1rem;
}

#main-logo {
  color: rgb(105, 104, 104);
}

.nav-item button {
  padding: 0.1rem 1rem;
  background-color: dodgerblue;
  color: white;
  font-size: 0.7rem;
}

.nav-item button:hover {
  transition: 0.4s;
  background-color: #135ca3;
  color: white;
}

.nav-item button:active {
  background-color: #0f4a82;
}

.main-text-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.main-welcome {
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
}

.main-welcome h2 {
  font-size: 1.5rem;
}

.main-facts {
  margin-bottom: 1.2rem;
}

.join-btn {
  font-size: 0.6rem;
  padding: 0.3rem 1rem;
  border-style: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 7px;
  width: 7rem;
}

.join-btn:hover {
  background-color: #135ca3;
  transition: 0.3s;
}

.join-btn:active {
  background-color: #0f4a82;
}

.main-signup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-signup form {
  background: rgba(219, 213, 213, 0.4);
  width: 17rem;
  height: 24rem;
  text-align: center;
  margin-top: 4rem;
  border-radius: 7px;
}

.form-header {
  text-align: center;
  margin-top: 1.7rem;
}

.form-header h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  margin-top: 1rem;
}

.form-header p {
  font-size: 0.7rem;
  color: #fff;
}

.input {
  text-align: center;
}

.input i {
  margin-right: 0.4rem;
}

.form-input {
  background-color: transparent;
  color: white;
  border-radius: 0;
  padding: 1rem 0 0.4rem 0;
  border-style: none;
  border-bottom: 1px solid white;
  width: 70%;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}

.form-input:focus {
  border-bottom: 2px solid white;
}

::placeholder {
  color: white;
}

.signup-btn {
  margin-top: 1.3rem;
  text-align: center;
}

.signup-btn p,
.signup-btn a {
  font-size: 0.8rem;
  margin-top: 0.7rem;
  color: #fff;
}

.signup-btn a:hover {
  color: rgba(255, 255, 255, 0.671);
  transition: 0.5s;
}

.form-btn {
  font-size: 0.6rem;
  padding: 0.3rem 1rem;
  border-style: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 7px;
  width: 10rem;
}

.form-btn:hover {
  background-color: #135ca3;
  transition: 0.3s;
}

.form-btn:active {
  background-color: #0f4a82;
}

.form-header h2 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.form-header p {
  font-size: 0.7rem;
  color: #fff;
}
.input i {
  color: white;
  font-size: 0.6rem;
}
.form-input::placeholder {
  font-size: 0.7rem;
}

.signup-btn p,
.signup-btn a {
  font-size: 0.6rem;
}

.btn {
  /* border-radius: 20px; */
  font-size: 0.7rem;
  padding: 0.7rem 2.5rem;
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .main-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .main-signup form {
    width: 19rem;
    height: 24rem;
    margin-top: 4rem;
  }
  .join-btn {
    display: none;
  }
  .main-welcome h2 {
    font-size: 2rem;
  }
}
