<html>
  <head>
    <meta charset='utf-8' />
    <title>{{page}}</title>

    <link rel='icon' href='images/favicon.ico' type='image/x-icon' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap'
      rel='stylesheet'
    />

    <link href='style/reset.css' rel='stylesheet' />
    <link href='style/style.css' rel='stylesheet' />
    <link href='style/main.css' rel='stylesheet' />
    <link href='style/login.css' rel='stylesheet' />

    <script src='scripts/base.js'></script>
    <script src='scripts/main.js'></script>
  </head>
  <body>
    <!-- HEADER -->
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <div class='container-fluid'>
        <a class='navbar-brand' href='#'><i class='fa-solid fa-bug-slash'></i>
          Bug Tracker</a>
        <div id='navbarNav'>
          <ul class='navbar-nav'>
            <li class='nav-item'>
              <a class='nav-link active' aria-current='page' href='#'>Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{{body}}}
  </body>
</html>