<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='/style/login.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>login page</title>
  </head>
  <body>
    <nav class='navbar'>
      <div id='main-logo'><i class='fa-solid fa-bug-slash'></i>Bug Tracker</div>
      <div id='nav-login-btn-container'>
      </div>
    </nav>
    <div id="login-nav">
      <h1>
        <a href="./" id="login-back"> <strong>&#60;</strong> Back</a>
      </h1>
    </div>
    <div class="main-signup login-form" id="signup-form">
        <form>
          <div class="form-header" id="form-top">
            <span id="login-logo"><i class="fa-solid fa-bug-slash"></i> Bug Tracker</span>
            <h2 id="login-header">Login</h2>
          </div>
          <div class="input">
            <i class="fa-solid fa-envelope"></i>
            <input
              name="user"
              type="email"
              class="form-input"
              id="email"
              placeholder="Email Address"
              autocomplete="off"
            />
          </div>
          <div class="input">
            <i class="fa-solid fa-lock"></i>            
            <input
              name='pass'
              type="password"
              class="form-input"
              id="password"
              placeholder="Password"
            />
          </div>
        <div class="signup-btn">
            <button type="submit" class="login-button">
              Login
            </button>
        </div>
        </form>
      </div>
    </div>



  </body>
</html>
