<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
    />
    <link rel='stylesheet' href='/style/verify.css' />
    <title>Document</title>
  </head>
  <body>
    <div class='verify-container'>
      <i class='fa-solid fa-circle-check verify-icon'></i>
      <h1 class='verified-header'>Successfully Verified!</h1>
      <p>Click on the button down below to login and start using the
        application.</p>
      <a href='/login'><button class='verify-btn'>Login</button></a>
    </div>
  </body>
</html>