<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/style/verify.css' />
    <title>Document</title>
  </head>
  <body>
    <div class='verify-body'>
      <h1 class='thank-you'>Thank you for signing up!</h1>
      <h1>A message has been sent to your email address. Please verify your
        email to use the application.</h1>
    </div>
  </body>
</html>